  body {
    margin: 0;
    font-family: Arial;
    scroll-behavior: smooth;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 15px 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

/* Skills */
.skills ul {
    list-style: none;
}

/* Projects */
.projects {
    background: #f4f4f4;
}

.project-card {
    background: white;
    padding: 20px;
    margin: 15px auto;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Contact */
.contact {
    background: black;
    color: white;
}

/* Button */
button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}