 body {
    margin: 0;
    font-family: Arial;
}

/* Navbar */
nav {
    background: black;
    color: white;
    padding: 15px;
}

/* Hero section */
.hero {
    text-align: center;
    padding: 100px;
    background: #f4f4f4;
}

/* About */
.about {
    padding: 50px;
    text-align: center;
}

/* Skills */
.skills {
    background: #eee;
    padding: 50px;
    text-align: center;
}

.skills ul {
    list-style: none;
}

/* Contact */
.contact {
    padding: 50px;
    text-align: center;
}

/* Button */
button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}